# -------------------
# Genel
*.class
*.log
*.pyc
*.pyo
*.swp
*.sqlite3
.DS_Store

# Sanal ortam
venv/
.env/

# IDE / Editor
.idea/
*.iml
*.ipr
*.iws
.vscode/

# -------------------
# Flutter / Dart
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
app.*.symbols
app.*.map.json

# Android build
/android/app/debug
/android/app/profile
/android/app/release
